@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.navbar-fixed{
    @apply fixed z-[9999] bg-sky-100 bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.humberger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark
}

.humberger-active > span:nth-child(1){
    @apply rotate-45;
}

.humberger-active > span:nth-child(3){
    @apply -rotate-45;
}

.humberger-active > span:nth-child(2){
    @apply scale-0;
}

